<style>
    body {
        font-family: Arial, sans-serif;
        margin:0;
        padding:0;
        text-align: left;
    }
    .navbar {
        background-color: #9eb9bc;
        width:100%; /* 导航栏宽度 */
        height:120p;
        padding:0;

    }
    .navbar a {
        display: block;
        color: #fff;
        text-align: center;
        font-size: 30px;
        text-shadow:rgb(147, 34, 26)
        padding: 10px 0;
        text-decoration:wavy ;
        font-weight: bold; /* 加粗字体 */
        letter-spacing: 1px;
        transition: background-color 0.3s ease; /* 添加过渡效果 */
    }
    .navbar a:hover {
        background-color: #66a9cf; /* 鼠标悬停时背景颜色 */
    }
</style>
</body>

